@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@fontsource/fira-mono';

html, body {
	height: 100%; /* 페이지 높이를 100%로 설정 */
	margin: 0;
	padding: 0;
}

body {
	overflow: auto; /* 페이지에서 스크롤 허용 */
}

.page-container {
	min-height: 100vh; /* 화면 크기가 작은 경우에도 스크롤 가능하도록 최소 높이 설정 */
	padding-bottom: 6rem;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch; /* iOS 부드러운 스크롤 */
	overscroll-behavior: contain; /* iOS 새로고침 방지 해제 */
}

.prose article p {
	@apply p-1 m-0;
}

/* Inline Code 스타일 */
.prose code {
	@apply bg-gray-200 px-1 rounded text-black; /* 배경색과 글자색 설정 */
}

.prose code::before {
	content: none;
}

.prose code::after {
	content: none;
}

/* Block Code 스타일 */
.prose pre {
	@apply bg-gray-200 p-4 rounded-lg overflow-x-auto text-black; /* 배경색과 글자색 설정 */
}

/* Blockquote 스타일 */
.prose blockquote {
	@apply bg-gray-200 p-4 rounded-lg border-l-4 border-gray-300 text-black my-4 relative; /* 배경색과 글자색 설정 */
}

.prose blockquote::before {
	font-size: 3rem;
	position: absolute;
	top: -1rem;
	left: -1.5rem;
	color: #ccc;
	z-index: 10;
}

.prose blockquote::after {
	font-size: 3rem;
	position: absolute;
	bottom: -1rem;
	right: -1.5rem;
	color: #ccc;
	z-index: 10;
}

.prose blockquote p::before {
	content: none;
}

.prose blockquote p::after {
	content: none;
}